In [2]:
import pandas as pd
import numpy as np

In [181]:
current_rate = 13.10
df['original_price'] = df['price_ori'] * current_rate 
df['final_price'] = df['price_actual'] * current_rate

In [182]:
df.columns

Index(['price_ori', 'delivery', 'item_category_detail', 'specification',
       'title', 'w_date', 'link_ori', 'item_rating', 'seller_name',
       'idElastic', 'price_actual', 'sitename', 'idHash', 'total_rating', 'id',
       'total_sold', 'pict_link', 'favorite', 'timestamp', 'desc',
       'original_price', 'final_price'],
      dtype='object')

In [183]:
df.head(2)

,price_ori,delivery,item_category_detail,specification,title,w_date,link_ori,item_rating,seller_name,idElastic,...,idHash,total_rating,id,total_sold,pict_link,favorite,timestamp,desc,original_price,final_price
0,25.80,"KL City, Kuala Lumpur",Shopee | Women's Bags | Shoulder Bags | Should...,Product Specifications Category Shopee Women's...,1081 PU SLING BAG KULIT leather Casual Beg Tan...,2023-04-27,https://shopee.com.my/1081-PU-SLING-BAG-KULIT-...,4.9,qqfwholesale,19ec9fdedd9fe3e14bc652950fc3c423,...,88f051f0a2dcf0d29191e0175b828938,179,88f051f0a2dcf0d29191e0175b828938,179,https://down-my.img.susercontent.com/file/my-1...,Favorite (128,1682553600000,üéâ WELCOME To QQF WHOLESALE \r\nüòç ALL item read...,337.980,168.990
1,1.41,NaN,Shopee | Home Appliances | Sewing Machines | S...,Product Specifications Category Shopee Home Ap...,Stat Chinese Traditional Frog Buttons Knot Che...,2023-04-27,https://shopee.com.my/Stat-Chinese-Traditional...,5.0,stationery.my,5322309be3b6d9c01d15fa19f5b7ad9a,...,472d22f58af3bb35cf28c6eed7088dc5,17,472d22f58af3bb35cf28c6eed7088dc5,17,https://down-my.img.susercontent.com/file/4147...,Favorite (19,1682553600000,Chinese Traditional Frog Buttons Knot Cheongsa...,18.471,9.825

In [184]:
df[['category_1', 'category_2', 'category_3']] = df['item_category_detail'].str.replace("Shopee | ", "").str.split('|', expand=True)

In [185]:
df['specification'] = df['specification'].str.replace("Product Specifications Category Shopee ", "")

In [186]:
df['item_rating'] = pd.to_numeric(df['item_rating'], errors='coerce')

In [187]:
df['count_rating'] = df['total_rating'].str.replace(r'(\d+(\.\d+)?)k$', lambda x: str(float(x.group(1)) * 1000), regex=True).astype(float)

df['total_sold'] = df['total_sold'].str.replace(r'(\d+(\.\d+)?)k$', lambda x: str(float(x.group(1)) * 1000), regex=True).astype(float)

df['favorite'] = df['favorite'].str.replace('Favorite (',"")
df['favorite'] = df['favorite'].replace('label_favorite', 'N/A')
df['favorite'] = df['favorite'].replace('N/A', np.nan)
df['favorite'] = df['favorite'].str.replace(r'(\d+(\.\d+)?)k$', lambda x: str(float(x.group(1)) * 1000), regex=True).astype(float)

In [188]:
df = df.drop(['delivery', 'sitename', 'pict_link', 'link_ori', 'desc', 'price_ori', 'price_actual','item_category_detail', 'total_rating', 'w_date'], axis=1)

In [189]:
df.columns

Index(['specification', 'title', 'item_rating', 'seller_name', 'idElastic',
       'idHash', 'id', 'total_sold', 'favorite', 'timestamp', 'original_price',
       'final_price', 'category_1', 'category_2', 'category_3',
       'count_rating'],
      dtype='object')

In [190]:
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')

In [192]:
df = df.fillna(0)

In [193]:
df.isnull()

,specification,title,item_rating,seller_name,idElastic,idHash,id,total_sold,favorite,timestamp,original_price,final_price,category_1,category_2,category_3,count_rating
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20307,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20308,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20309,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20310,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20311,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [194]:
df.to_csv('shopee-cleaned.csv')

In [196]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20312 entries, 0 to 20311
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   specification   20312 non-null  object
 1   title           20312 non-null  object
 2   item_rating     20312 non-null  float64
 3   seller_name     20312 non-null  object
 4   idElastic       20312 non-null  object
 5   idHash          20312 non-null  object
 6   id              20312 non-null  object
 7   total_sold      20312 non-null  float64
 8   favorite        20312 non-null  float64
 9   timestamp       20312 non-null  datetime64[ns]
 10  original_price  20312 non-null  float64
 11  final_price     20312 non-null  float64
 12  category_1      20312 non-null  object
 13  category_2      20312 non-null  object
 14  category_3      20312 non-null  object
 15  count_rating    20312 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(9)
memory usage: 2.5+ MB